*{
    font-family: sans-serif;
}


.logo{
   /* height: 70px;
    width: 150px;
    align-items: flex-start;*/
    float: left; 
    display: inline-block;
    width: auto;
    line-height: 57px;
}
.navlinks{
    text-decoration: none;
    text-align: right;
    margin-bottom: 100px;
    margin-top: 50px;
    font-size: 25px;
    font-weight: 300;
    
  

    
}
.navlinks li{
    list-style-type: none;
    display: inline;
    padding: 15px;
   
    
}
.navlinks li a{
    text-decoration: none;
    color: black;
}
.navlinks li a:hover{
   font-weight: bold;
   font-size: larger;
   transition: 2s ease;
}
.TacmedLink{
    text-decoration: none;
    color:black;

}
.TacmedLink:hover{
    color: blue;
    font-size: larger;
   

}


nav{
        
            margin: 20px;
        
            padding:0;
            border: 1px solid white;
            /*border: 2px solid black;*/
           
            
        
}
.grid {
    background-color:white;
    display: grid;
    padding: 20px;
    grid-column-gap: 50px;
    grid-row-gap: 10px;
    grid-template-columns: auto auto ;
    grid-template-rows: 600 600 ;
    margin: 10px;
}

.grid-item {
    background-color: white;
    font-size: 20px;
    padding: 0px;
    text-align: center;
}
.project-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.about-me-description{
    font-size: 25px;
    font-weight: 300;

}
